body{
	background-color: pink;
}

.serif {
  	font-family:  serif;
  	font-style: italic;
}

h1{
	color: grey;
}

table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;

}

a:link{
	color : red;
}

a:visited{
	color: green;
}

a:hover{
	color: hotpink;
}

a:active{
	color: blue;
}

ul.a{
	list-style-type: georgian;

	background: #ffe5e5;
    padding: 5px;
  	margin-left: 35px;
}

ul.b{
	list-style-type: square;

	background: #ffe5e5;
    padding: 5px;
  	margin-left: 35px;
}

ul.c{
	list-style-type: lao;

	background: #ffe5e5;
    padding: 5px;
  	margin-left: 35px;
}

ul.d{
	list-style-type: cambodian;

	background: #ffe5e5;
    padding: 5px;
  	margin-left: 35px;
}

.tab{
	outline-style: dotted;
	outline-color: red;
}

.titl{
	padding-top: 50px;
  	padding-right: 50px;
  	padding-bottom: 50px;
  	padding-left: 50px;

  	background-color: hotpink;	
}

tr[class]{
	background-color: yellow;
}

p.hid{
	display: none;
}