body{
	background-color: pink;
}

.serif {
  	font-family:  serif;
  	font-style: italic;
}

h1{
	color: grey;
}

table, th, tr {
  border: 1px solid black;
  border-collapse: collapse;

}

a:link{
	color : red;
}

a:visited{
	color: green;
}

a:hover{
	color: hotpink;
}

a:active{
	color: blue;
}

ul.a{
	list-style-type: georgian;
}

ul.b{
	list-style-type: square;
}

ul.c{
	list-style-type: lao;
}

ul.d{
	list-style-type: cambodian;
}